= button_to user_post_like_path(post.user, post, post.likes.find_by(user_id: current_user.id)), method: :delete, remote: true, class: "btn btn-danger" do
  いいね解除
  %span.badge.badge-light
    = post.likes_count
