%h1 全体タイムライン

= link_to '投稿する', new_post_path, class: 'btn btn-primary'

%ul
  - @posts.each do |post|
    %li
      %p.content= post.content
      %p.published= l(post.created_at, format: :short)
      %p.actions
        =link_to '編集', edit_post_path(post)
        \|
        =link_to '削除', post_path(post), method: :delete, data: {confirm: "削除しますか？"}




