%h1 全体タイムライン

%table.table.table-striped
  %thead
    %th 内容
    %th 投稿日
    %th
  %tbody
    - @posts.each do |post|
      %tr
        %td.content= post.content
        %td.published= l(post.created_at, format: :short)
        %td.actions
          =link_to '編集', edit_user_post_path(post.user, post)
          \|
          =link_to '削除', user_post_path(post.user, post), method: :delete, data: {confirm: "削除しますか？"}




