%h1= @post.content

= render 'posts/likes/like_form', post: @post

%h3.mt-3 いいねしたユーザー
#liked_users.mt-4
  = render 'users/user_list', users: @post.liked_users

- if current_user == @post.user
  =link_to '編集', edit_user_post_path(@user, @post)
  \|
  =link_to '削除', user_post_path(@user, @post), method: :delete, data: {confirm: "削除しますか？"}
=link_to '戻る', posts_path
