%nav.navbar.navbar-light.bg-light
  - if user_signed_in?
    = link_to '投稿一覧', posts_path, class: 'nav-item nav-link active'
    = link_to '投稿する', new_post_path, class: 'nav-item nav-link'
    = link_to 'ログアウト', user_session_path, method: :delete, class: 'nav-item nav-link'
  - else
    = link_to 'ログイン', new_user_session_path, class: 'nav-item nav-link'

